---
layout: default
---

{% haml nav.haml %}

%section.hero.is-large.landing-container
  .hero-head
  .hero-body.flex-end
    .landing-overlay

    .countdown-box.has-text-centered.is-size-5
      %a(href="{{ site.url }}")
        %img.logo(src="/assets/images/long-icon-white.svg")
        %span.is-size-3 
      %ul
        %li Phiên bản trợ lý ảo mới dành cho mẹ bầu và chăm sóc em bé
        %li 
          Từ nhà phát hành
          %a(href="https://play.google.com/store/apps/details?id=huynvk.com.pgassistant")
            %img(src="https://lh3.googleusercontent.com/KeoiIUqxNmy4_vhvY_xa2uVSAvDxxWKPO5Rmxegpi3-_YZtSFT-N3BoB0ZB1XvUAsg=s180-rw"){width: 20, height: 20}
            Trợ Lý Mẹ Bầu
        %li Hỗ trợ Android và iOS. Dự kiến phát hành tháng 3, 2019
      %a.button.has-background-info.has-text-white.is-medium Đăng kí

%section.home-section.is-white
  .container.animate-queued
    .columns
      .column.invisible-for-animation
        %img.invisible-for-animation(src="/assets/images/health.jpg")
      .column.invisible-for-animation
        %p.title.invisible-for-animation Theo dõi sức khoẻ
        %p.content.invisible-for-animation Theo dõi tuổi thai và các chỉ số sức khoẻ như chiều cao, cần nặng của mẹ và bé. Giúp mẹ hiểu rõ hơn về sức khoẻ của hai mẹ con để có cách chăm sóc sức khoẻ phù hợp.

%section.home-section.is-blue
  .container.has-text-white.animate-queued
    .columns
      .column.invisible-for-animation
        %p.title.invisible-for-animation Thông tin chọn lọc
        %p.content.invisible-for-animation Chọn lọc và giới thiệu cho mẹ những thông tin cần thiết nhất tuỳ theo từng giai đoạn phát triển của bé, giúp cho mẹ tiết kiệm tối đa thời gian tìm kiếm và kiểm chứng thông tin. Qua đó, mẹ có thể dành nhiều thời gian hơn để nghỉ ngơi và thư giãn.
      .column.invisible-for-animation
        %img.invisible-for-animation(src="/assets/images/books.jpg")

%section.home-section.is-white
  .container.animate-queued
    .columns
      .column.invisible-for-animation
        %img.invisible-for-animation(src="/assets/images/health.jpg")
      .column.invisible-for-animation
        %p.title.invisible-for-animation Gợi ý cho mẹ
        %p.content.invisible-for-animation Gợi ý cho mẹ việc mẹ cần làm, những thứ cần chuẩn bị, những thông tin hoặc sản phẩm hữu ích.

%section.home-section.is-blue
  .container.has-text-white.animate-queued
    .columns
      .column.invisible-for-animation
        %p.title.invisible-for-animation Miễn phí, và sẽ luôn như vậy
        %p.content.invisible-for-animation Shino là ứng dụng miễn phí cho người Việt và sẽ luôn như thế. Tất cả mọi người đều có thể tải ứng dụng miễn phí từ Google Play (Android) hoặc App Store (iOS)
      .column.invisible-for-animation
        %img.invisible-for-animation(src="/assets/images/books.jpg")

  
{% haml footer.haml %}

