---
layout: default
---

%section.hero.is-fullheight.landing-container
  .hero-head
    {% haml nav.haml %}
  .hero-body.flex-end
    .landing-overlay

    .countdown-box.has-text-centered.is-size-5
      %a(href="{{ site.url }}")
        %img.logo(src="/assets/images/long-icon-white.svg")
        %span.is-size-3 
      %ul
        %li Phiên bản trợ lý ảo mới dành cho mẹ bầu và chăm sóc em bé
        %li 
          Từ nhà phát hành
          %a(href="https://play.google.com/store/apps/details?id=huynvk.com.pgassistant")
            %img(src="https://lh3.googleusercontent.com/KeoiIUqxNmy4_vhvY_xa2uVSAvDxxWKPO5Rmxegpi3-_YZtSFT-N3BoB0ZB1XvUAsg=s180-rw"){width: 20, height: 20}
            Trợ Lý Mẹ Bầu
        %li Hỗ trợ Android và iOS. Dự kiến phát hành tháng 3, 2019
      %a.button.has-background-info.has-text-white.is-medium Đăng kí

%section.home-section.is-white
  .container
    .columns
      .column
        %img(src="/assets/images/health.jpg")
      .column
        %p.title Theo dõi sức khoẻ
        %p.description Theo dõi tuổi thai và các chỉ số sức khoẻ
        %p.content Theo dõi tuổi thai và các chỉ số sức khoẻ như chiều cao, cần nặng của mẹ và bé. Giúp mẹ hiểu rõ hơn về sức khoẻ của hai mẹ con để có cách chăm sóc sức khoẻ phù hợp.

%section.home-section.is-blue
  .container.has-text-white
    .columns
      .column
        %p.title Thông tin chọn lọc
        %p.description Chọn lọc những thông tin cần thiết nhất cho mẹ
        %p.content Chọn lọc và giới thiệu cho mẹ những thông tin cần thiết nhất tuỳ theo từng giai đoạn phát triển của bé, giúp cho mẹ tiết kiệm tối đa thời gian tìm kiếm và kiểm chứng thông tin. Qua đó, mẹ có thể dành nhiều thời gian hơn để nghỉ ngơi và thư giãn.
      .column
        %img(src="/assets/images/books.jpg")

%section.home-section.is-white
  .container
    %p.title Gợi ý
    %p.description Gợi ý cho mẹ những việc nên làm
    %p.content Gợi ý cho mẹ việc mẹ cần làm, những thứ cần chuẩn bị, những thông tin hoặc sản phẩm hữu ích.

%section.home-section.is-blue
  .container.has-text-white
    %p.title Miễn phí
    %p.description Miễn phí và sẽ luôn như thế
    %p.content Shino là ứng dụng miễn phí cho người Việt và sẽ luôn như thế. Tất cả mọi người đều có thể tải ứng dụng miễn phí từ Google Play (Android) hoặc App Store (iOS)

  
{% haml footer.haml %}

