<section class="page-footer">
  <div class="container">
    <p class="text">Copyright shino.io 2018. All rights reserved.</p>
    <p class="button-group">
      <a class="footer-ic"
        >(href="https://www.linkedin.com/company/shino.io"){:target=>"_blank"}
        <span class="animation"> <img /> </span>
      </a>
      <a class="footer-ic"
        >(href="https://www.facebook.com/trolymebau/"){:target=>"_blank"}
        <span class="animation"> <img /> </span>
      </a>
    </p>
  </div>
</section>
