%section.page-footer
  .container
    %p.text Copyright shino.io 2018. All rights reserved.
    %p.button-group
      %a.footer-ic
        (href="https://www.linkedin.com/company/shino.io"){:target=&gt;"_blank"}
        %span.animation
          %img/
      %a.footer-ic
        (href="https://www.facebook.com/trolymebau/"){:target=&gt;"_blank"}
        %span.animation
          %img/
