%nav.navbar.is-fixed-top.is-transparent{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "{{ site.url }}"}
      %img{:src => "/assets/images/long-icon-white.svg"}
  #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        .buttons
          %a.button.is-light
            Đăng kí
